{% extends 'base.html' %}


{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <h2>Editing question &mdash; "{{ question.title }}"</h2>
       <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}
       
        <label for="tag_name">Tag Name:</label>
        <input type="text" id="tag_name" name="tag_name">
        <button class="btn btn-success" id="logout-btn" type="submit">Edit</button>
       </form>


</div>
{% endblock %}